/* HTML & Containers */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Funnel Display", serif;
}


/* Utility */
.bored{
    border: 2px solid red;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Text */
.text-white{
    color: #fff;
}

.text-grey{
    color: #808080;
}
/* Backgrounds */

/* Margins */
.mt-10{
    margin-top: 10px;
}
/* Padding */
.py-5{
    padding: 5px 0;
}
/* Columns */
.col-15{
    width: 15%;
}

.col-60{
    width: 60%;
}


/* Buttons */
.btn{
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px 30px;
    cursor: pointer;
}
/* Flexbox */

/* Z-Index */

/* Position */

/* Display */

/* Section: HEADER */
header{
    position: sticky;
    height: 70px;
    top: 0;
    background-color: #080B12;
}

footer{
    height: 80px;
    background-color: #282828;
}

header .row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

}
/* Section: MAIN */
main{
    height: calc(100vh - 80px);
    background-color: #141922;
    display: flex;
}

#content{
    width: calc(100% - 200px);
    overflow-y: auto;
}

.homepage{
    padding: 15px;
    color: #fff;
}

.homepage-menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: grey;
}


.homepage-menu li:hover{
    color: #fff;
}

.homepage-menu li:hover::after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #adff2f;
    margin: 1px auto;
}

.homepage-menu li:first-child{
    color: #fff;
}

.homepage-menu li:first-child::after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #adff2f;
    margin: 1px auto;
}

.songs-container{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-title{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px;
}

.section-subtitle{
    color: grey;
    margin-bottom: 10px;
}

.song-card{
    width: calc(100% / 7);
}

.song-title, .song-subtitle{
    text-align: center;
}

.song-image{
    position: relative;
    width: 100%;
    max-width: 400px;
}

.song-image img{
    width: 100%;
    display: block;
    height: auto;
}

.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

.popular-artist .img-overlay{
    border-radius: 50%;
}

.song-image:hover .img-overlay{
    opacity: 1;
}

.icon{
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    cursor: pointer;
}

.song-title{
    font-weight: 600;
    margin: 10px 0;
}

.song-subtitle{
    font-size: 12px;
    color: grey;
    font-weight: 600;
}

.create-for .songs-container, .popular-artist .songs-container{
    justify-content: flex-start;
    gap: calc(100% / 7 / 5);
}

.popular-artist .songs-container img{
    border-radius: 50%;
}




/* Section: SIDEBAR */
#sidebar{
    height: 100%;
    width: 200px;
    background-color: #000000;
    padding: 15px;
    color: grey;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-header{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#sidebar .logo{
    width: 75%;
}

#sidebar ul{
    list-style: none;
    
}

#sidebar li{
    padding: 5px 0;
}

#sidebar .sidebar-menu li{
    display: flex;
    align-items: center; 
}

#TODO
#sidebar .sidebar-menu li .sidebar-icon:hover{
   margin-left: 2px solid red;
}

#sidebar .sidebar-icon{
    width: 15%;
    margin-right: 5px; 
}

#sidebar .sidebar-section-title{
    font-size: 15px;
    text-transform: uppercase;
}

#sidebar .create-playlist{
    display: flex;
    align-items: center;
}

#sidebar .create-playlist i{
    padding: 10px;
    background-color: #A3A3A3;
    color: #000;
    margin-right: 10px;
}

#sidebar .playlist li{
    padding: 10px 0;
}

#sidebar .install, .profile{
    display: flex;
}

#sidebar .sidebar-footer{
    align-self: flex-end;
}

#sidebar .install{
    padding: 5px 0;
}

#sidebar .sidebar-footer-img{
    margin-right: 5px;
}

#sidebar .profile .sidebar-footer-img{
    width: 20px;
}

#sidebar .profile{
    border-top: 1px solid grey;
    padding: 15px 0 0;
}

/* Section: FOOTER */
footer .row{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer i:hover{
    color: #fff;
    cursor: pointer;
}

.now-playing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #808080;
}

.now-playing-img img{
    width: 50px;
    margin-right: 10px;
}

.now-playing-info{
    width: 50%;
}

.now-playing-artist{
    font-size: 14px;
    font-weight: 600;
}

.now-playing-title {
    font-size: 12px;
    font-weight: 600;
}



.controller{
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-bar{
    background-color: #5A5A5A;
    width: 60%;
    height: 3px;
    border-radius: 15px;
}

.progress-complete{
    height: 100%;
    width: 20%;
    background-color: #C1C1C1;
}