/* HTML & Containers */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Funnel Display", serif;
}


/* Utility */
.bored{
    border: 2px solid red;
}

/* Text */
.text-white{
    color: #fff;
}
/* Backgrounds */

/* Margins */

/* Padding */

/* Columns */

/* Buttons */
.btn{
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px 30px;
    cursor: pointer;
}
/* Flexbox */

/* Z-Index */

/* Position */

/* Display */

/* Section: HEADER */
header{
    position: sticky;
    height: 100px;
    top: 0;
    background-color: #080B12;
}

header .row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

}
/* Section: MAIN */
main{
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
}

#content{
    width: calc(100% - 100px);
    overflow-y: auto;
}

/* Section: SIDEBAR */
#sidebar{
    height: 100%;
    width: 200px;
    background-color: #000000;
}

#content{
    width: calc(100% - 100px);
    overflow-y: auto;
}

/* Section: FOOTER */
footer{
    height: 100px;
    background-color: #282828;
}